.attributes {
  display: block;
}

.attributes li {
  margin: 0.5em 0;
  padding: 0.5em 0;
}

.attribute-description {
  margin-top: 0.5em;
}

.child-attributes {
  margin-left: 3em;
}

.child-attributes h3 {
  font-size: 14px;
}
