.object-display {
  border-radius: 10px;
  background-color: #f7fafc;
  padding-bottom: 1em;
  height: max-content;
  min-width: 200px;
}

.object-display h3 {
  background-color: rgb(227, 232, 238);
  margin: 0;
  padding: 1em;
  border-radius: 10px 10px 0 0;
  margin-bottom: 1em;
}

.object-display-inner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 1em;
  gap: 1em;
}

.object-display-inner span.name {
  text-align: right;
}
