@import url(./components/sidenav.css);
@import url(./components/header.css);
@import url(./components/footer.css);
@import url(./components/object.css);

:root {
  --grey: rgb(105, 115, 134);
  --black: rgb(42, 47, 69);
  --light-grey: rgb(135, 146, 162);
  --blue: rgb(85, 108, 214);
  --border: rgb(227, 232, 238);
  --red: rgb(229, 111, 74);
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  display: grid;
  grid-template-columns: 250px auto;
}

h1,
h2 {
  color: var(--black);
}

p {
  color: rgb(79, 86, 107);
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--blue);
  font-weight: bold;
}

a:hover {
  color: var(--black);
}

section {
  border-bottom: 0.5px solid var(--border);
  padding: 2em;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 0.5px solid var(--border);
  padding: 2em 0;
  gap: 2em;
}

article h1,
article h2 {
  grid-column: 1 / -1;
  margin: 0;
}

article:last-of-type {
  border-bottom: none;
}

article li {
  border-top: 0.5px solid var(--border);
  padding-bottom: 0.5em;
}

article li p {
  font-weight: bold;
  margin-bottom: 0.5em;
}

article li p span {
  font-weight: normal;
  margin-left: 0.5em;
}

.required {
  margin-top: 0;
  color: var(--red);
  font-size: 12px;
}

.col-right {
  max-width: 500px;
  margin: 0 auto;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
