@import url(./components/sidenav.css);
@import url(./components/header.css);
@import url(./components/footer.css);
@import url(./components/object.css);
@import url(./abstracts/colors.css);
@import url(./abstracts/text.css);
@import url(./components/attributes.css);
@import url(./components/type-article.css);
@import url(./components/endpoint-article.css);

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

aside nav {
  position: fixed;
}

.content {
  display: grid;
  grid-template-columns: 250px auto;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

section {
  border-bottom: 0.5px solid var(--border);
  padding: 2em;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 0.5px solid var(--border);
  padding: 2em 0;
  gap: 2em;
}

article h1,
article h2 {
  grid-column: 1 / -1;
  margin: 0;
}

article:last-of-type {
  border-bottom: none;
}

article li {
  border-top: 0.5px solid var(--border);
  padding-bottom: 0.5em;
}

.required {
  margin-top: 0;
  color: var(--red);
  font-size: 12px;
}

.col-right {
  max-width: 500px;
  margin: 0 auto;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.returns {
  border-top: 0.5px solid var(--border);
}
